<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <main>
            <div class="jumbotron">
                <h1>Crystalia</h1>
                <p>Welcome to Crystalia!</p>
                <p>This site is under construction.</p>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>